/* KORDIT FONT PACK v.1.0.15 */

$icomoon-font-path: "./fonts" !default;

$kd-403-error: "\e900";
$kd-404-error: "\e901";
$kd-add-column: "\e902";
$kd-add-multiple: "\e903";
$kd-add-row: "\e904";
$kd-add-tab: "\e905";
$kd-add: "\e906";
$kd-administration: "\e907";
$kd-align-center: "\e908";
$kd-align-left: "\e909";
$kd-align-right: "\e90a";
$kd-alphabet: "\e90b";
$kd-alphanumeric: "\e90c";
$kd-approve: "\e90d";
$kd-arrow-down: "\e90e";
$kd-arrow-first: "\e90f";
$kd-arrow-last: "\e910";
$kd-arrow-up: "\e911";
$kd-assessment: "\e912";
$kd-assign: "\e913";
$kd-attendance: "\e914";
$kd-audio: "\e915";
$kd-axis: "\e916";
$kd-back: "\e917";
$kd-behaviour-o: "\e918";
$kd-bg-color: "\e919";
$kd-border-color: "\e91a";
$kd-border-radius: "\e91b";
$kd-border-width: "\e91c";
$kd-bubble: "\e91d";
$kd-check: "\e91e";
$kd-class: "\e91f";
$kd-clear: "\e920";
$kd-close-round: "\e921";
$kd-close: "\e922";
$kd-comment: "\e923";
$kd-compile: "\e924";
$kd-cross: "\e925";
$kd-customize: "\e926";
$kd-dashboard_icon: "\e927";
$kd-data_collection_icon: "\e928";
$kd-data_management_icon: "\e929";
$kd-dimensions: "\e92a";
$kd-disable-text: "\e92b";
$kd-download-fail: "\e92c";
$kd-download-success: "\e92d";
$kd-download: "\e92e";
$kd-draggable-line: "\e92f";
$kd-draggable: "\e930";
$kd-dropout: "\e931";
$kd-edit: "\e932";
$kd-ellipsis: "\e933";
$kd-enable-text: "\e934";
$kd-export: "\e935";
$kd-font-color: "\e936";
$kd-frame: "\e937";
$kd-graduate: "\e938";
$kd-grid-line: "\e939";
$kd-grid: "\e93a";
$kd-guardian: "\e93b";
$kd-header-col: "\e93c";
$kd-header-row-col: "\e93d";
$kd-header-row: "\e93e";
$kd-hover: "\e93f";
$kd-html: "\e940";
$kd-iframe: "\e941";
$kd-image: "\e942";
$kd-import: "\e943";
$kd-institutions: "\e944";
$kd-items: "\e945";
$kd-key: "\e946";
$kd-label: "\e947";
$kd-legend: "\e948";
$kd-lists: "\e949";
$kd-marker-fill-color: "\e94a";
$kd-marker-line: "\e94b";
$kd-mobile_icon: "\e94e";
$kd-null: "\e94f";
$kd-numeric: "\e950";
$kd-openemis: "\e951";
$kd-packages: "\e952";
$kd-play: "\e953";
$kd-plot: "\e954";
$kd-preview: "\e955";
$kd-process-error: "\e956";
$kd-process: "\e957";
$kd-user-profile-shadow: "\e958";
$kd-user-profile: "\e959";
$kd-publish: "\e95a";
$kd-reason: "\e95b";
$kd-reassign: "\e95c";
$kd-redo: "\e95d";
$kd-reject: "\e95e";
$kd-release: "\e95f";
$kd-remove: "\e960";
$kd-reorder: "\e961";
$kd-reports: "\e962";
$kd-resolution: "\e963";
$kd-results: "\e964";
$kd-role: "\e965";
$kd-save: "\e966";
$kd-series: "\e967";
$kd-server-shadow: "\e968";
$kd-server: "\e969";
$kd-shipment: "\e96a";
$kd-sort-alphabet-asc: "\e96b";
$kd-sort-alphabet-desc: "\e96c";
$kd-sort-date-asc: "\e96d";
$kd-sort-date-desc: "\e96e";
$kd-staff: "\e96f";
$kd-status: "\e970";
$kd-students: "\e971";
$kd-tab: "\e972";
$kd-tablet: "\e973";
$kd-text-bold: "\e974";
$kd-text-center-align: "\e975";
$kd-text-italic: "\e976";
$kd-text-justify-align: "\e977";
$kd-text-left-align: "\e978";
$kd-text-right-align: "\e979";
$kd-text-underline: "\e97a";
$kd-title: "\e97b";
$kd-transfer: "\e97c";
$kd-trash: "\e97d";
$kd-undo: "\e97e";
$kd-unpublish: "\e97f";
$kd-upload-download: "\e980";
$kd-upload-success: "\e981";
$kd-upload: "\e982";
$kd-user-role: "\e983";
$kd-user: "\e984";
$kd-validate-col: "\e985";
$kd-validate-row: "\e986";
$kd-vertical-align-bottom: "\e987";
$kd-vertical-align-middle: "\e988";
$kd-vertical-align-top: "\e989";
$kd-video: "\e98a";
$kd-web_icon: "\e98b";
$kd-wrapper: "\e98c";
$kd-x-axis-grid-line: "\e98d";
$kd-x-axis: "\e98e";
$kd-y-axis-grid-line: "\e98f";
$kd-y-axis: "\e990";
