{
    "openapi": "3.0.0",
    "info": {
        "title": "OpenEMIS Core API V4",
        "description": "The [OpenEMIS](https://www.openemis.org/) initiative aims to deploy a high-quality Education Management Information System (EMIS) designed to collect and report data on schools, students, teachers and staff. The system was conceived by `UNESCO` to be a royalty-free system that can be easily customized to meet the specific needs of member countries.",
        "termsOfService": "https://www.openemis.org/terms-of-service/",
        "contact": {
            "email": "support@openemis.org"
        },
        "license": {
            "name": "GNU General Public License V3.0",
            "url": "https://www.gnu.org/licenses/gpl-3.0.en.html"
        },
        "version": "4.0.0"
    },
    "servers": [
        {
            "url": "https://demo.openemis.org/core"
        },
        {
            "url": "app/Http"
        }
    ],
    "paths": {
        "/api/v4/exams/{examId}": {
            "get": {
                "tags": [
                    "Examinations"
                ],
                "summary": "Get details of a specific exam",
                "description": "Returns details of the exam identified by the provided examId",
                "operationId": "a601e38c583fced7c8c6f9cbb92e8872",
                "parameters": [
                    {
                        "name": "examId",
                        "in": "path",
                        "description": "ID of the exam",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Successful."
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": "1"
                                                },
                                                "code": {
                                                    "type": "string",
                                                    "example": "PSLE"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Primary School Leaving Examination"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": ""
                                                },
                                                "registration_start_date": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2020-01-01"
                                                },
                                                "registration_end_date": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2020-07-31"
                                                },
                                                "academic_period_id": {
                                                    "type": "integer",
                                                    "example": "29"
                                                },
                                                "education_grade_id": {
                                                    "type": "integer",
                                                    "example": "64"
                                                },
                                                "modified_user_id": {
                                                    "type": "integer",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "modified": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "created_user_id": {
                                                    "type": "integer",
                                                    "example": "2"
                                                },
                                                "created": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2020-03-06 05:10:34"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unsuccessful."
                    }
                }
            }
        },
        "/api/v4/exams/{examId}/centres/{centreId}": {
            "get": {
                "tags": [
                    "Examinations"
                ],
                "summary": "Get centre details for a specific exam",
                "description": "Returns details of the centre associated with the specified exam",
                "operationId": "d5e05c7613a869402879ca0992cb9287",
                "parameters": [
                    {
                        "name": "examId",
                        "in": "path",
                        "description": "ID of the exam",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        }
                    },
                    {
                        "name": "centreId",
                        "in": "path",
                        "description": "ID of the centre",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Successful."
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": "1"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Avory Primary School"
                                                },
                                                "code": {
                                                    "type": "string",
                                                    "example": "P1002"
                                                },
                                                "address": {
                                                    "type": "string",
                                                    "example": "270 Duke Lane"
                                                },
                                                "postal_code": {
                                                    "type": "string",
                                                    "example": ""
                                                },
                                                "contact_person": {
                                                    "type": "string",
                                                    "example": ""
                                                },
                                                "telephone": {
                                                    "type": "string",
                                                    "example": "83948723"
                                                },
                                                "fax": {
                                                    "type": "string",
                                                    "example": "83948723"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "format": "email",
                                                    "example": "contact@avoryprimary.com"
                                                },
                                                "website": {
                                                    "type": "string",
                                                    "example": "avoryprimary.com"
                                                },
                                                "institution_id": {
                                                    "type": "integer",
                                                    "example": "6"
                                                },
                                                "area_id": {
                                                    "type": "integer",
                                                    "example": "11"
                                                },
                                                "academic_period_id": {
                                                    "type": "integer",
                                                    "example": "29"
                                                },
                                                "examination_id": {
                                                    "type": "integer",
                                                    "example": "1"
                                                },
                                                "total_registered": {
                                                    "type": "integer",
                                                    "example": "0"
                                                },
                                                "modified_user_id": {
                                                    "type": "integer",
                                                    "example": null
                                                },
                                                "modified": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": null
                                                },
                                                "created_user_id": {
                                                    "type": "integer",
                                                    "example": "2"
                                                },
                                                "created": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2020-03-06 05:13:01"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unsuccessful."
                    }
                }
            }
        },
        "/api/v4/exams/{examId}/centres/{centreId}/students/{studentId}": {
            "get": {
                "tags": [
                    "Examinations"
                ],
                "summary": "Get details of a student for a specific exam and centre",
                "description": "Returns details of a student for the specified exam and centre",
                "operationId": "b7d74b7e99fb0543b805ba9a3cdd1273",
                "parameters": [
                    {
                        "name": "examId",
                        "in": "path",
                        "description": "ID of the exam",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": "2"
                        }
                    },
                    {
                        "name": "centreId",
                        "in": "path",
                        "description": "ID of the centre",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": "12"
                        }
                    },
                    {
                        "name": "studentId",
                        "in": "path",
                        "description": "ID of the student",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": "1130"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Successful."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": "1"
                                                    },
                                                    "marks": {
                                                        "type": "integer",
                                                        "example": null,
                                                        "nullable": true
                                                    },
                                                    "examination_subject_id": {
                                                        "type": "integer",
                                                        "example": "3"
                                                    },
                                                    "student_id": {
                                                        "type": "integer",
                                                        "example": "1130"
                                                    },
                                                    "academic_period_id": {
                                                        "type": "integer",
                                                        "example": "31"
                                                    },
                                                    "examination_id": {
                                                        "type": "integer",
                                                        "example": "2"
                                                    },
                                                    "examination_centre_id": {
                                                        "type": "integer",
                                                        "example": "12"
                                                    },
                                                    "education_subject_id": {
                                                        "type": "integer",
                                                        "example": "37"
                                                    },
                                                    "examination_grading_option_id": {
                                                        "type": "integer",
                                                        "example": "1"
                                                    },
                                                    "institution_id": {
                                                        "type": "integer",
                                                        "example": "6"
                                                    },
                                                    "modified_user_id": {
                                                        "type": "integer",
                                                        "example": null,
                                                        "nullable": true
                                                    },
                                                    "modified": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": null,
                                                        "nullable": true
                                                    },
                                                    "created_user_id": {
                                                        "type": "integer",
                                                        "example": "2"
                                                    },
                                                    "created": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2022-04-28 12:46:54"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unsuccessful."
                    }
                }
            }
        },
        "/api/v4/exams/{examId}/centres/{centreId}/subjects": {
            "get": {
                "tags": [
                    "Examinations"
                ],
                "summary": "Get subjects for an exam at a specific centre",
                "description": "Returns subjects for a specified exam at a particular examination centre.",
                "operationId": "f75e7b6852599f02b563a945690b1563",
                "parameters": [
                    {
                        "name": "examId",
                        "in": "path",
                        "description": "ID of the exam",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 2
                        }
                    },
                    {
                        "name": "centreId",
                        "in": "path",
                        "description": "ID of the examination centre",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 12
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Order",
                        "schema": {
                            "type": "integer",
                            "example": "order"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of items per page",
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Successful."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "422a4b66f50b45144bff948fb11505d585d2f7a80378fd4e016d7fd7897c2d97"
                                                    },
                                                    "created": {
                                                        "type": "string",
                                                        "example": "2022-04-28 04:42:39"
                                                    },
                                                    "education_subject_id": {
                                                        "type": "integer",
                                                        "example": 60
                                                    },
                                                    "examination_centre_id": {
                                                        "type": "integer",
                                                        "example": 12
                                                    },
                                                    "examination_id": {
                                                        "type": "integer",
                                                        "example": 2
                                                    },
                                                    "examination_subject_id": {
                                                        "type": "integer",
                                                        "example": 2
                                                    },
                                                    "education_subject": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 60
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Social Studies"
                                                            },
                                                            "code": {
                                                                "type": "string",
                                                                "example": "SSMC"
                                                            },
                                                            "order": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "visible": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "modified_user_id": {
                                                                "type": "integer",
                                                                "example": 2
                                                            },
                                                            "modified": {
                                                                "type": "string",
                                                                "example": "2023-04-03 10:11:23"
                                                            },
                                                            "created_user_id": {
                                                                "type": "integer",
                                                                "example": 2
                                                            },
                                                            "created": {
                                                                "type": "string",
                                                                "example": "2023-04-03 10:11:23"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "examination_subject": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 6
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Social Studies"
                                                            },
                                                            "code": {
                                                                "type": "string",
                                                                "example": "SST"
                                                            },
                                                            "weight": {
                                                                "type": "string",
                                                                "example": "0.25"
                                                            },
                                                            "examination_date": {
                                                                "type": "string",
                                                                "example": "2022-12-01"
                                                            },
                                                            "start_time": {
                                                                "type": "string",
                                                                "example": "13:00:00"
                                                            },
                                                            "end_time": {
                                                                "type": "string",
                                                                "example": "14:00:00"
                                                            },
                                                            "examination_id": {
                                                                "type": "integer",
                                                                "example": 2
                                                            },
                                                            "education_subject_id": {
                                                                "type": "integer",
                                                                "example": 60
                                                            },
                                                            "examination_grading_type_id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "modified_user_id": {
                                                                "type": "integer",
                                                                "example": 2
                                                            },
                                                            "modified": {
                                                                "type": "string",
                                                                "example": "2023-04-03 10:11:23"
                                                            },
                                                            "created_user_id": {
                                                                "type": "integer",
                                                                "example": 2
                                                            },
                                                            "created": {
                                                                "type": "string",
                                                                "example": "2023-04-03 10:11:23"
                                                            },
                                                            "grading_type": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "integer",
                                                                        "example": 1
                                                                    },
                                                                    "code": {
                                                                        "type": "string",
                                                                        "example": "PSLE-GD"
                                                                    },
                                                                    "name": {
                                                                        "type": "string",
                                                                        "example": "PSLE Gradings"
                                                                    },
                                                                    "pass_mark": {
                                                                        "type": "string",
                                                                        "example": "50.00"
                                                                    },
                                                                    "max": {
                                                                        "type": "string",
                                                                        "example": "100.00"
                                                                    },
                                                                    "result_type": {
                                                                        "type": "string",
                                                                        "example": "GRADES"
                                                                    },
                                                                    "visible": {
                                                                        "type": "integer",
                                                                        "example": 1
                                                                    },
                                                                    "grading_options": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "properties": {
                                                                                "id": {
                                                                                    "type": "integer",
                                                                                    "example": 1
                                                                                },
                                                                                "code": {
                                                                                    "type": "string",
                                                                                    "example": "A"
                                                                                },
                                                                                "name": {
                                                                                    "type": "string",
                                                                                    "example": "A"
                                                                                },
                                                                                "description": {
                                                                                    "type": "string",
                                                                                    "example": ""
                                                                                },
                                                                                "min": {
                                                                                    "type": "string",
                                                                                    "example": "80.00"
                                                                                },
                                                                                "max": {
                                                                                    "type": "string",
                                                                                    "example": "100.00"
                                                                                },
                                                                                "order": {
                                                                                    "type": "integer",
                                                                                    "example": 1
                                                                                },
                                                                                "visible": {
                                                                                    "type": "integer",
                                                                                    "example": 1
                                                                                },
                                                                                "examination_grading_type_id": {
                                                                                    "type": "integer",
                                                                                    "example": 1
                                                                                },
                                                                                "created_user_id": {
                                                                                    "type": "integer",
                                                                                    "example": 2
                                                                                },
                                                                                "created": {
                                                                                    "type": "string",
                                                                                    "example": "2023-04-03 10:11:23"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        }
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unsuccessful."
                    }
                }
            }
        },
        "/api/v4/exams/{examId}/centres/{centreId}/subjects/{subjectId}/students": {
            "get": {
                "tags": [
                    "Examinations"
                ],
                "summary": "Get students for a specific exam, centre, and subject",
                "description": "Returns details of students enrolled in a specific exam, centre, and subject based on the provided parameters.",
                "operationId": "771c8dd87dc069492a8d87516f256cb7",
                "parameters": [
                    {
                        "name": "examId",
                        "in": "path",
                        "description": "ID of the exam",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 2
                        }
                    },
                    {
                        "name": "centreId",
                        "in": "path",
                        "description": "ID of the centre",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 12
                        }
                    },
                    {
                        "name": "subjectId",
                        "in": "path",
                        "description": "ID of the subject",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 6
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Order",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": "student_id"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Successful."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "student_id": {
                                                        "type": "integer",
                                                        "example": 1130
                                                    },
                                                    "registration_number": {
                                                        "type": "string",
                                                        "example": null,
                                                        "nullable": true
                                                    },
                                                    "institution_id": {
                                                        "type": "integer",
                                                        "example": 6
                                                    },
                                                    "academic_period_id": {
                                                        "type": "integer",
                                                        "example": 31
                                                    },
                                                    "total_mark": {
                                                        "type": "number",
                                                        "example": null,
                                                        "nullable": true
                                                    },
                                                    "result_marks": {
                                                        "type": "number",
                                                        "example": null,
                                                        "nullable": true
                                                    },
                                                    "result_id": {
                                                        "type": "integer",
                                                        "example": null,
                                                        "nullable": true
                                                    },
                                                    "examination_grading_option_id": {
                                                        "type": "integer",
                                                        "example": null,
                                                        "nullable": true
                                                    },
                                                    "first_name": {
                                                        "type": "string",
                                                        "example": "John"
                                                    },
                                                    "last_name": {
                                                        "type": "string",
                                                        "example": "Klein"
                                                    },
                                                    "third_name": {
                                                        "type": "string",
                                                        "example": null,
                                                        "nullable": true
                                                    },
                                                    "middle_name": {
                                                        "type": "string",
                                                        "example": null,
                                                        "nullable": true
                                                    },
                                                    "openemis_no": {
                                                        "type": "string",
                                                        "example": 1522412895
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unsuccessful."
                    }
                }
            }
        },
        "/api/v4/exams/student-subject-result": {
            "post": {
                "tags": [
                    "Examinations"
                ],
                "summary": "Retrieve student subject result for exams",
                "description": "Retrieve the subject result for a specific student in an exam",
                "operationId": "17df5f730822fac17eab2bbb7c27855d",
                "requestBody": {
                    "description": "Parameters for retrieving student subject result",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "examination_grading_option_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "marks": {
                                        "description": "Mark is required only if examination_grading_option_id is null.",
                                        "type": "integer",
                                        "example": null
                                    },
                                    "academic_period_id": {
                                        "type": "integer",
                                        "example": 31
                                    },
                                    "examination_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "examination_subject_id": {
                                        "type": "integer",
                                        "example": 37
                                    },
                                    "examination_centre_id": {
                                        "type": "integer",
                                        "example": 12
                                    },
                                    "institution_id": {
                                        "type": "integer",
                                        "example": 6
                                    },
                                    "student_id": {
                                        "type": "integer",
                                        "example": 1130
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Successful."
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unsuccessful."
                    }
                }
            }
        },
        "/api/v4/assessments/items": {
            "get": {
                "tags": [
                    "Assessment"
                ],
                "summary": "Get assessment items",
                "description": "Returns a list of assessment items",
                "operationId": "a2626e42141a8f05f8358319013468ac",
                "parameters": [
                    {
                        "name": "academic_period_id",
                        "in": "query",
                        "description": "Academic Period Id",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": "id"
                        }
                    },
                    {
                        "name": "education_grade_id",
                        "in": "query",
                        "description": "Education Grade Id",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": "id"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Order",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": "id"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Successful."
                                        },
                                        "data": {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string",
                                                                "example": "02bd59fe-1e6b-40e2-bc8b-462e28ee2753"
                                                            },
                                                            "weight": {
                                                                "type": "string",
                                                                "example": "1.00"
                                                            },
                                                            "classification": {
                                                                "type": "string",
                                                                "example": ""
                                                            },
                                                            "assessment_id": {
                                                                "type": "integer",
                                                                "example": 24
                                                            },
                                                            "education_subject_id": {
                                                                "type": "integer",
                                                                "example": 17
                                                            },
                                                            "modified_user_id": {
                                                                "type": "integer",
                                                                "example": null,
                                                                "nullable": true
                                                            },
                                                            "modified": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": null,
                                                                "nullable": true
                                                            },
                                                            "created_user_id": {
                                                                "type": "integer",
                                                                "example": 2
                                                            },
                                                            "created": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2018-05-30 07:29:11"
                                                            },
                                                            "education_subject_name": {
                                                                "type": "string",
                                                                "example": "SUD-Spanish Upper Division"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unsuccessful."
                    }
                }
            }
        },
        "/api/v4/assessments/periods": {
            "get": {
                "tags": [
                    "Assessment"
                ],
                "summary": "Get assessment periods",
                "description": "Returns a list of assessment periods",
                "operationId": "87ee23ada9a16b2ba2e05886a348ca83",
                "parameters": [
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Order",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": "id"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Successful."
                                        },
                                        "data": {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 2
                                                            },
                                                            "code": {
                                                                "type": "string",
                                                                "example": "FYAK2"
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Final Year Assessment K2"
                                                            },
                                                            "start_date": {
                                                                "type": "string",
                                                                "format": "date",
                                                                "example": "2016-01-01"
                                                            },
                                                            "end_date": {
                                                                "type": "string",
                                                                "format": "date",
                                                                "example": "2016-12-31"
                                                            },
                                                            "date_enabled": {
                                                                "type": "string",
                                                                "format": "date",
                                                                "example": "2016-01-01"
                                                            },
                                                            "date_disabled": {
                                                                "type": "string",
                                                                "format": "date",
                                                                "example": "2016-12-31"
                                                            },
                                                            "weight": {
                                                                "type": "string",
                                                                "example": "100.00"
                                                            },
                                                            "academic_term": {
                                                                "type": "string",
                                                                "example": null,
                                                                "nullable": true
                                                            },
                                                            "assessment_id": {
                                                                "type": "integer",
                                                                "example": 16
                                                            },
                                                            "education_grade_id": {
                                                                "type": "integer",
                                                                "example": 171
                                                            },
                                                            "education_grade_code": {
                                                                "type": "string",
                                                                "example": "K2"
                                                            },
                                                            "education_grade_name": {
                                                                "type": "string",
                                                                "example": "K2"
                                                            },
                                                            "modified_user_id": {
                                                                "type": "integer",
                                                                "example": null,
                                                                "nullable": true
                                                            },
                                                            "modified": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": null,
                                                                "nullable": true
                                                            },
                                                            "created_user_id": {
                                                                "type": "integer",
                                                                "example": 2
                                                            },
                                                            "created": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2016-06-24 02:42:45"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unsuccessful."
                    }
                }
            }
        },
        "/api/v4/assessments/items/grading-types": {
            "get": {
                "tags": [
                    "Assessment"
                ],
                "summary": "Get grading types for assessment items",
                "description": "Returns a list of grading types associated with assessment items",
                "operationId": "3aeb64523d7f40013a96c20cfd5a383c",
                "parameters": [
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Order",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": "id"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Successful."
                                        },
                                        "data": {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 2
                                                            },
                                                            "code": {
                                                                "type": "string",
                                                                "example": 1
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Marks Grading Scale"
                                                            },
                                                            "pass_mark": {
                                                                "type": "string",
                                                                "example": "50.00"
                                                            },
                                                            "max": {
                                                                "type": "string",
                                                                "example": 100
                                                            },
                                                            "result_type": {
                                                                "type": "string",
                                                                "example": "MARKS"
                                                            },
                                                            "assessment_grading_options": {
                                                                "type": "array",
                                                                "items": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "integer",
                                                                            "example": "2"
                                                                        },
                                                                        "code": {
                                                                            "type": "string",
                                                                            "example": "A"
                                                                        },
                                                                        "name": {
                                                                            "type": "string",
                                                                            "example": "Excellent"
                                                                        },
                                                                        "description": {
                                                                            "type": "string",
                                                                            "example": ""
                                                                        },
                                                                        "min": {
                                                                            "type": "string",
                                                                            "example": "80.00"
                                                                        },
                                                                        "max": {
                                                                            "type": "string",
                                                                            "example": "100.00"
                                                                        },
                                                                        "point": {
                                                                            "type": "string",
                                                                            "example": "5.00"
                                                                        },
                                                                        "order": {
                                                                            "type": "integer",
                                                                            "example": "1"
                                                                        },
                                                                        "visible": {
                                                                            "type": "integer",
                                                                            "example": "1"
                                                                        },
                                                                        "assessment_grading_type_id": {
                                                                            "type": "integer",
                                                                            "example": "2"
                                                                        },
                                                                        "modified_user_id": {
                                                                            "type": "integer",
                                                                            "example": "2"
                                                                        },
                                                                        "modified": {
                                                                            "type": "string",
                                                                            "example": "2023-07-28 17:40:09"
                                                                        },
                                                                        "created_user_id": {
                                                                            "type": "integer",
                                                                            "example": "2"
                                                                        },
                                                                        "created": {
                                                                            "type": "string",
                                                                            "example": "2023-07-28 17:40:09"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "modified_user_id": {
                                                                "type": "integer",
                                                                "example": "2"
                                                            },
                                                            "modified": {
                                                                "type": "string",
                                                                "example": "2023-07-28 17:40:09"
                                                            },
                                                            "created_user_id": {
                                                                "type": "integer",
                                                                "example": "2"
                                                            },
                                                            "created": {
                                                                "type": "string",
                                                                "example": "2023-07-28 17:40:09"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unsuccessful."
                    }
                }
            }
        },
        "/api/v4/assessments/grading-options": {
            "get": {
                "tags": [
                    "Assessment"
                ],
                "summary": "Get grading options for assessments",
                "description": "Returns a list of grading options for assessments",
                "operationId": "b3c742000fa36e0bc794a0b73ebe2bb0",
                "parameters": [
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Order",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": "id"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Successful."
                                        },
                                        "data": {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 2
                                                            },
                                                            "code": {
                                                                "type": "string",
                                                                "example": "A"
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Excellent"
                                                            },
                                                            "min": {
                                                                "type": "string",
                                                                "example": "80.00"
                                                            },
                                                            "max": {
                                                                "type": "string",
                                                                "example": "100.00"
                                                            },
                                                            "order": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "visible": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "modified_user_id": {
                                                                "type": "integer",
                                                                "example": 2
                                                            },
                                                            "modified": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2023-07-28 17:40:09"
                                                            },
                                                            "created_user_id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "created": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2015-07-10 19:24:17"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unsuccessful."
                    }
                }
            }
        },
        "/api/v4/assessments/{assessment_id}/assessmentperiods": {
            "get": {
                "tags": [
                    "Assessment"
                ],
                "summary": "Get assessment periods for a specific assessment",
                "description": "Returns a list of assessment periods associated with the specified assessment ID",
                "operationId": "084fdb097eda292e48ac7977ec6d6f4e",
                "parameters": [
                    {
                        "name": "assessment_id",
                        "in": "path",
                        "description": "ID of the assessment",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 31
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Order",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": "id"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Successful."
                                        },
                                        "data": {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string",
                                                                "example": "First Half"
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "First Half"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unsuccessful."
                    }
                }
            }
        },
        "/api/v4/assessments/{assessment_id}": {
            "get": {
                "tags": [
                    "Assessment"
                ],
                "summary": "Get assessment details by ID",
                "description": "Returns details of an assessment based on the provided assessment ID",
                "operationId": "e2229318eec27d00638d0da6f071b855",
                "parameters": [
                    {
                        "name": "assessment_id",
                        "in": "path",
                        "description": "ID of the assessment",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 31
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Successful."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 31
                                                    },
                                                    "code": {
                                                        "type": "string",
                                                        "example": "Assessments"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Primary 1"
                                                    },
                                                    "code_name": {
                                                        "type": "string",
                                                        "example": "Assessments - Primary 1"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "example": ""
                                                    },
                                                    "excel_template_name": {
                                                        "type": "string",
                                                        "example": "assessment_report_template (18).xlsx"
                                                    },
                                                    "type": {
                                                        "type": "integer",
                                                        "example": 2
                                                    },
                                                    "academic_period_id": {
                                                        "type": "integer",
                                                        "example": 31
                                                    },
                                                    "education_grade_id": {
                                                        "type": "integer",
                                                        "example": 104
                                                    },
                                                    "assessment_grading_type_id": {
                                                        "type": "integer",
                                                        "example": null,
                                                        "nullable": true
                                                    },
                                                    "modified_user_id": {
                                                        "type": "integer",
                                                        "example": 2
                                                    },
                                                    "modified": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2022-06-13 16:05:41"
                                                    },
                                                    "created_user_id": {
                                                        "type": "integer",
                                                        "example": 2
                                                    },
                                                    "created": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2022-04-05 10:19:55"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unsuccessful."
                    }
                }
            }
        },
        "/api/v4/assessments/{assessmentId}/assessmentitems": {
            "get": {
                "tags": [
                    "Assessment"
                ],
                "summary": "Get assessment items",
                "description": "Returns details of assessment items based on the provided parameters",
                "operationId": "30ff16bbd6a9759be5f626764110605b",
                "parameters": [
                    {
                        "name": "assessmentId",
                        "in": "path",
                        "description": "ID of the assessment",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 33
                        }
                    },
                    {
                        "name": "institution_id",
                        "in": "query",
                        "description": "ID of the institution",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 6
                        }
                    },
[...]
