
/*-----------------------------------*/
/* Custom */
/*-----------------------------------*/
.starter-template {
  padding: 40px 15px;
  margin-bottom:100px;
  text-align: center;
}

span.help-block {
  font-size: 13px;
}

.form-control.error {
	border: 1px solid #ff0000;
}

.formCreateDatabase label.error, .formCreateDbUser label.error {
	font-weight: normal;
	margin: 0;
	font-size: 13px;
	color: #ff0000;
}

.installer{
	width:94%;
	max-width:1000px;
	margin:40px auto;
}

.installer-line{
	height:8px;
	width:100%;
	background-color:#eeeeee;
}
.installer-steps{
	display:table;
	width:100%;
	margin-top:-22px;
	margin-left:-10px;
}
.installer-steps p{
	display:table-cell;
	font-size:18px;
	line-height:20px;
}
.installer-steps p:last-child{
	text-align:right;
	width:20px;
}
.installer-steps p span{
	position:absolute;
	display:block;
	background-color:#ffffff;
	color:#666666;
	border-radius:50px;
	border:5px solid #eeeeee;
	width:40px;
	height:37px;
	padding:4px;
	text-align:center;
}
.installer-steps .pass span{
	background-color:#559138;
	color:#ffffff;
}
.installer-steps .on span{
	background-color:#305F19;
	box-shadow:0 1px 2px #666666;
	border-color:#305F19;
	color:#ffffff;
	font-size:22px;
	font-weight:bold;
}

.installer-content{
	padding:50px 0 0 0;
}