<IfModule mod_rewrite.c>
	#RewriteBase /core/
    RewriteEngine on
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>

Order deny,allow
Deny from all
#Require all denied
AuthType Basic
AuthName TopSecret
AuthUserFile /var/safe/.htpasswddev
require valid-user
Satisfy Any
