@font-face {
	font-family: 'kordit-fonts';
	src:url('fonts/kordit-fonts.eot?ifrmdv');
	src:url('fonts/kordit-fonts.eot?#iefixifrmdv') format('embedded-opentype'),
		url('fonts/kordit-fonts.woff?ifrmdv') format('woff'),
		url('fonts/kordit-fonts.ttf?ifrmdv') format('truetype'),
		url('fonts/kordit-fonts.svg?ifrmdv#kordit-fonts') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="kd-"], [class*=" kd-"] {
	font-family: 'kordit-fonts';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.kd-Openemis:before {
	content: "\e605";
}
.kd-Reports:before {
	content: "\e600";
}
.kd-Administration:before {
	content: "\e601";
}
.kd-Students:before {
	content: "\e602";
}
.kd-Staff:before {
	content: "\e603";
}
.kd-Institutions:before {
	content: "\e604";
}

.kd-visualizer { color: #CC9933; }
.kd-school { color: #305F19; }
.kd-refugees { color: #D66B12; }
