<div class="dialog" *ngIf="displayDialog">
    <div style="margin-bottom: 25px;">
        <div style="display: flex; justify-content: space-between;">
            <h2>Lesson</h2>
            <span (click)="onCloseClick()" class="close-icon"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>

        <div class="d-flex" style="align-items: baseline;">
            <label for="curriculumType">Type:</label> <br>
            <select #curriculum name="curriculumType" id="curriculumType"
                style="font-size: 14px; height: 30px; width: -webkit-fill-available; padding: 5px;" class="ml-1"
                [(ngModel)]="selectLesson">
                <option [value]="lesson.id" [selected]="lesson.id == ''" *ngFor="let lesson of lessonType">{{
                    lesson?.name }}</option>
                <!-- <option value="nonCurriculum">Non Curriculum Lesson</option> -->
            </select>
            <i class="fa fa-plus" style="font-size: 15px; cursor: pointer; padding-left: 5px;"
                (click)="addLesson()"></i>
        </div>

    </div>

    <div *ngFor="let newLesson of addNewLesson; let i = index">
        <div *ngIf="newLesson.type == 'nonCurriculum'" style="margin-bottom: 25px;">
            <div style="border: 1px solid #DDD;">
                <div class="d-flex justify-content-between"
                    style="font-size: 16px; background-color: #DDD; padding: 10px;">
                    <div>Non Curriculum</div>
                    <div style="cursor: pointer;" (click)="removeData(i)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                </div>
                <div style="padding: 10px;">
                    <label for="nonCurriculumName">Name</label><br>
                    <input #nonCurriculumName value="Activity" type="text" name="nonCurriculumName"
                        style="width: 100%; height: 30px; padding: 5px; font-size: 14px;" id="nonCurriculumName"
                        (input)="onNonCurriculumInput(nonCurriculumName, i)">
                    <div style="color: #CC5C5C; font-size: 11px;" *ngIf="showTextErrorMsg">This field cannot be empty
                    </div>
                    <label for="nonCurriculumRoom" style="margin-top: 10px;">Room</label><br>
                    <select #roomSelect style="width: 100%; height: 30px; padding: 5px; font-size: 14px;"
                        name="nonCurriculumRoom" id="nonCurriculumRoom" class="select-section"
                        (change)="onRoomSelectNonCurriculum(roomSelect, i)">
                        <option [value]="room.id" *ngFor="let room of institutionRoomData">{{ room.name }}</option>
                    </select>
                    <button class="btn btn-primary mt-3" style="font-size: 14px;"
                        (click)="onAddClick(i, 'nonCurriculum')"><i class="fa fa-plus mr-1"></i>Add</button>
                </div>
            </div>
        </div>

        <div *ngIf="newLesson.type == 'curriculum'" style="margin-bottom: 25px;">
            <div style="border: 1px solid #DDD;">
                <!-- <div style="font-size: 16px; background-color: #DDD; padding: 10px;">Curriculum</div> -->
                <div class="d-flex justify-content-between"
                    style="font-size: 16px; background-color: #DDD; padding: 10px;">
                    <div>Curriculum</div>
                    <div style="cursor: pointer;" (click)="removeData(i)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                </div>
                <div style="padding: 10px;">
                    <label for="subject">Subject</label><br>
                    <select #pickSubject name="subject" id="subject" class="select-section"
                        (change)="onSubjectChanged(pickSubject, i)">
                        <option [value]="subject?.id" *ngFor="let subject of institutionSubject">{{ subject?.name }}
                        </option>
                    </select>
                    <div style="color: #CC5C5C; font-size: 11px;" *ngIf="showDropdownErrorMsg">This field cannot be
                        empty</div>
                    <label for="curriculumRoom" style="margin-top: 10px;">Room</label><br>
                    
                    <select #roomSelect class="select-section" name="curriculumRoom" id="curriculumRoom"
                        style="width: 100%; height: 30px; padding: 5px; font-size: 14px;"
                        (change)="onRoomSelect(roomSelect, i)">
                        <option [value]="room.id" *ngFor="let room of institutionRoomData">{{ room.name }}</option>
                    </select>
                    <!-- <button class="btn btn-primary" (click)="onAddClick()">Add</button> -->
                    <button class="btn btn-primary mt-3" style="font-size: 14px;"
                        (click)="onAddClick(i,'curriculum')"><i class="fa fa-plus mr-1"></i>Add</button>

                </div>
            </div>
        </div>
    </div>



    <!-- <div *ngIf="toggleCurriculum" style="margin-top: 50px;">
        <div style="border: 1px solid #DDD;">
            <p class="curriculum-non-curricuium">Curriculum</p>
            <div class="sub-section-main">
                <label for="subject">Subject</label><br>
                <select #pickSubject name="subject" id="subject" class="select-section"
                    (change)="onSubjectChanged(pickSubject)">
                    <option [value]="subject?.id" *ngFor="let subject of institutionSubject">{{ subject?.name }}
                    </option>
                </select>
                <br>
                <label for="curriculumRoom" class="mt-4">Room</label><br>
                <select #roomSelect class="select-section" name="curriculumRoom" id="curriculumRoom"
                    (change)="onRoomSelect(roomSelect)">
                    <option [value]="room.id" *ngFor="let room of institutionRoomData">{{ room.name }}</option>
                </select>
                <button class="btn btn-primary mt-3" (click)="onAddClick()">Add</button>
            </div>
        </div>
    </div> -->
</div>