/* 
Integrator Overwrites: v.1.0.1
*/


/* Homepage Background */

.body-wrapper {
    background-image: url('../../../img/login-bg.jpg') !important;
}


/* CALCULATIONS STYLE/DRAG & DROP */

#preview-wrapper,
#preview-left-content,
#preview-right-content {
    position: relative;
}

#preview-left-content,
#preview-right-content {
    padding: 0 !important;
}

.preview-container {
    position: relative;
    border: 1px solid #CCC;
    padding: 10px;
    background: url("../../../img/canvas.png") repeat scroll 0 0;
    min-height: 400px;
}

.col-header {
    padding: 5px 8px;
    margin: 4px 0 -1px;
    text-align: center;
}

.col-sub-header {
    display: block;
    background: #EFEFEF;
    padding: 5px;
    margin: 0 0 10px;
    text-align: center;
}

.col-wrapper {
    border: 1px solid #CCC;
    padding: 10px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.col-wrapper .row {
    background: transparent;
    border: 0;
}

.col-wrapper .input-select-wrapper {
    width: 100%;
}

.dimension li {
    border: 0 !important;
    padding: 0 !important;
}


/* Field Selection Styles */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

[ng-drag] {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[ng-drag] {
    display: block;
    background: #6B6B6B;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #FFF;
    text-align: center;
    padding: 5px;
    margin: 5px;
    cursor: move;
    float: none;
}

[ng-drag].no-style {
    width: auto;
    height: auto;
    background: transparent;
    color: black;
    text-align: left;
    padding: 5px;
    margin: 0;
    cursor: move;
    float: none;
}

.calculation-selections.one-third [ng-drop-success] div {
    width: 100%;
    height: 100%;
    margin: 0;
    display: table;
}

.calculation-selections.one-third [ng-drop-success] div span {
    display: table-cell;
    vertical-align: middle;
}

.calculation-selections.one-third [ng-drop-success] div:hover {
    cursor: pointer;
    position: relative;
}

.calculation-selections.one-third [ng-drop-success] div:hover:before,
.calculation-selections .placeholders .dimension-child span:hover:before {
    font-family: "FontAwesome", Helvetica;
    content: "\f00d  Remove";
    color: #FFF;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.6);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 14px;
}

.scrollable-container {
    margin-top: 10px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#preview-left-content .scrollable-container {
    max-height: 616px;
    border: 1px dashed #CCC;
}

#preview-right-content .scrollable-container {
    border: 0;
    max-height: 380px;
}

.draggable-objects li {
    padding: 10px;
    margin: 5px 0;
}

.scrollable-container .dimension {
    list-style: none;
}

.scrollable-container .dimension li {
    border: 0 !important;
}

.scrollable-container .dimension-placeholder,
[ng-drop] {
    border: 1px dashed rgba(0, 0, 0, 0.2);
    background: #FFF;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    color: #555;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    float: none;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.drop-highlight {
    border: 1px solid #77B576;
}

[ng-drag].drag-over,
[ng-drop].drag-enter {
    border: 2px solid #77B576;
}

.scrollable-container .dimension-placeholder:hover {
    border: 1px dashed rgba(0, 0, 0, 0.5);
}

ul.draggable-objects,
th.no-style {
    background-color: transparent;
    margin: 0;
    padding: 0;
}

ul.draggable-objects:after,
th.no-style:after {
    display: block;
    content: "";
    clear: both;
}

ul.draggable-objects li,
th.no-style span {
    display: block;
    padding: 0;
    background-color: transparent;
}

[ng-drag].dragging {
    display: block;
    position: absolute;
    background-color: #77B576;
    opacity: 0.5;
}

[ng-drag].drag-over.no-style {
    border: 1px solid black;
    color: white;
}

[ng-drag].dragging.no-style {
    opacity: 0.5;
    border: solid 1px black;
    color: white;
}

[ng-drop] {
    background: transparent;
    text-align: center;
    width: 150px;
    height: 50px;
    padding: 10px;
    display: block;
    margin: 10px 0;
    position: relative;
}

[ng-drop].no-style {
    text-align: left;
    width: auto;
    height: auto;
    padding: 0;
    display: table-cell;
    margin: 0;
    position: relative;
}

[ng-drop] span.title {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 20px;
    margin-left: -100px;
    margin-top: -10px;
}

[ng-drop] div {
    position: relative;
    float: left;
}

div.calculation-selections {
    margin: 0;
    padding: 5px;
    float: left;
    width: 100%;
}

.mapping-container {
    margin: 0 0 20px;
    padding: 0 10px 10px;
    border: 1px solid #CCC;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.calculation-selections label {
    padding: 15px 0;
    width: 80px;
}

.calculation-selections > * {
    float: left;
    padding: 0;
    margin: 0 10px 0 0;
}

.calculation-selections .calculation-operation-buttons {
    margin-top: 10px;
}

.calculation-selections .calculation-operation-buttons > button {
    margin-right: 10px;
    color: #FFF;
    background-color: #CCC;
}

.calculation-selections.one-third h4 {
    min-width: 90px;
    max-width: 90px;
    height: 100%;
}

.calculation-selections.one-third {
    width: 270px;
}

.calculation-selections.one-third div {
    width: 150px;
}

.calculation-selections .placeholders {
    background: #F9F9F9;
    text-align: left;
    display: block;
    width: 80%;
    min-height: 70px;
    border: 1px dashed #CCC;
    padding: 0 8px;
    position: relative;
}

.calculation-selections .placeholders .dimension {
    background: #FFF;
    color: #555;
    cursor: default;
    display: table-cell;
    float: left;
    margin-right: 15px;
    width: 150px;
    padding: 9px;
}

.calculation-selections .placeholders .title {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 40%;
    left: 44%;
}

.calculation-selections .placeholders .dimension .removePlaceholder {
    float: right;
    cursor: pointer;
    background-color: #CC5C5C;
    color: #FFF;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 17px;
    height: 16px;
    position: absolute;
    top: -5px;
    right: -5px;
    text-align: center;
}

.calculation-selections .placeholders .dimension .removePlaceholder i {
    position: absolute;
    top: 1px;
    left: 4px;
}

.calculation-selections .placeholders .dimension-child {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    color: #FFF;
}

.calculation-selections .placeholders .dimension-child span {
    display: table-cell;
    vertical-align: middle;
    margin: auto 0;
    background: #6B6B6B;
    padding: 0 5px;
}

.calculation-selections .dimension-label {
    display: block;
    width: 130px;
    vertical-align: middle;
}

#scroll-up {
    padding: 7px;
    background-color: #DDD;
    border: 1px solid #CCC;
    position: relative;
    width: 100%;
    height: 25px;
    bottom: 10px;
    opacity: 0.7;
    left: 0;
    top: 10px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -khtml-border-top-left-radius: 3px;
    -khtml-border-top-right-radius: 3px;
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=70);
    display: none;
}

#scroll-up:before {
    font-family: "FontAwesome";
    content: "\f0d8";
    color: #6B6B6B;
    font-size: 16px;
    position: absolute;
    top: 0;
}

#scroll-down:before {
    font-family: "FontAwesome";
    content: "\f0d7";
    color: #6B6B6B;
    font-size: 16px;
    position: absolute;
    top: 0;
}

#scroll-down {
    padding: 7px;
    background-color: #DDD;
    border: 1px solid #CCC;
    position: relative;
    width: 100%;
    height: 25px;
    bottom: 10px;
    opacity: 0.7;
    left: 0;
    top: 0;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -khtml-border-top-left-radius: 3px;
    -khtml-border-top-right-radius: 3px;
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=70);
}

.spinnerWrapper {
    background: rgba(0, 0, 0, 0.3);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@media (max-width:1518px) {
    .calculation-selections label {
        width: 80px;
    }
}
