fieldset.info { padding-bottom: 10px; }
.info .row {
	margin-left: 10px;
}

.cell_code { width: 100px; }
.cell_name { width: 180px; }
.cell_subject_code { width: 140px; }
.cell_subject_name { width: 200px; }
.cell_marks { width: 100px; }
.cell_grading { width: 120px; }
.items .table_body .table_cell { vertical-align: middle; }
.description { width: 500px; }

.table_view .cell > span { line-height: 25px; }
#assessment .table_view .cell_code { width: 100px; margin-left: -1px; }
#assessment .table_view .cell_name { width: 389px; margin-left: -1px; }
#assessment .table_view .cell_description { width: 192px; margin-left: -1px; }