/* Teachers */
#teachers .label.grade { width: 35px; line-height: 25px; font-size: 11px; }
#teachers .value.grade select { width: 90px; }
/* End Teachers */

#attendance .row .label { line-height: 25px; }
#attendance .school_days { margin-bottom: 15px; }
#attendance .school_days .default { width: 82px; }
#attendance .table_head .table_cell { vertical-align: top; }

.custom_grid .table_wrapper {
	overflow: auto;
	max-height: 250px;
	margin-left: 10px;
	margin-top: 10px;
}

.custom_grid .desc { margin-left: 8px; font-size: 11px; margin-top: 0 !important; }
.custom_grid .y_col { min-width: 150px !important; }
.custom_grid .x_title { margin-top: 10px; text-align: center; font-size: 11px; }

/* Table styles */
.cell_classes, .cell_gender { width: 110px; }
.cell_shifts { width: 40px; }
.edit .multi .cell_classes, .edit .multi .cell_gender { width: 93px; }
.multi .icon_plus { margin-left: 0; }
.multi .icon_delete { margin-top: 8px; }
.multi .input_wrapper { margin-top: 5px; }
.multi .table select { width: 100%; }
.cell_grade { width: 70px; }
.cell_category { width: 270px; }
.cell_programme { width: 230px; }
.cell_certificate { width: 140px; }
#infrastructure .cell_category { width: 150px; }
#infrastructure .cell_total { min-width: 50px !important; width: 50px; }
.cell_delete { min-width: 0 !important; width: 16px; }
.table .icon_delete { float: left; }

.row.last { margin-top: 10px; }
.selected { background-color: #E7F0F7 }
/* End Table styles */

/* legend styles */
.legend { float: right; margin-top: 15px; }
.legend li { float: left; margin-right: 10px;  display:inline-block; margin-top:-7px;  }
.legend span { border: 1px solid #ccc; float: left; width: 8px; height: 8px; margin: 4px 3px; }
.legend .dataentry { background-color: #666666; }
.legend .external { background-color: #5B8BAF; }
.legend .estimate { background-color: #FF0000; }
.legend .internal { background-color: #809800; }
.row_dataentry { color: #666666; }
.row_external { color: #5B8BAF; }
.row_estimate { color: #FF0000; }
.row_internal { color: #809800; }
/* End legend styles */
#infrastructure fieldset.section_group select.form-control{
	width: 30%;
	display: inline-block;
}
#enrolment .table-responsive{
	overflow-x: auto;
}