.row.add {
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 10px 0;
	margin: 15px 0;
	text-align: center;
}

.field_list > div {
	width: 660px;
	padding: 4px;
	margin: 1px 0 15px 1px;
}

.field_list > div:hover {
	outline: 1px dashed #CCCCCC;
}

/* if field is inactive */
.field_list > div.inactive .action,
.field_list > div.inactive .tag,
.field_list > div.inactive .custom_field,
.field_list > div.inactive .field_label,
.field_list > div.inactive .field_label input,
.field_list > div.inactive .field_value input,
.field_list > div.inactive .custom_section_break,
.field_list > div.inactive .custom_section_break input,
.field_list .options > li.inactive input,
.field_value .options > li.inactive input {
	color: #CCCCCC !important;
	border-color: #EBEBEB;
}
.field_list > div.inactive .field_label { background-color: #F9F9F9; }
.field_list > div.inactive .field_label .icon_visible,
.field_list .options > li.inactive .icon_visible,
.field_value .options > li.inactive .icon_visible { background: url('../img/icons/visible_off.png') top left no-repeat; }

/* end inactive */

.field_list .custom_section_break {
	margin-top: 5px;
	padding-top: 0;
	padding-right: 0;
}

.field_list .action {
	float: right;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	-webkit-border-bottom-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-weight: normal;
	overflow: hidden;
}

.field_list .custom_field {
	margin-bottom: 0;
	margin-right: 10px;
}

.field_list .custom_section_break .action {
	margin-top: -11px;
	border-top: 0;
}

.field_list .custom_field textarea { width: 608px; }
.field_list .custom_field select { margin-bottom: 5px; margin-top: 5px; }

.options { margin-top: 5px; }

.options li {
	margin-bottom: 5px;
}

.options li span {
	float: left;
	margin: 3px 3px 0 0;
}

.options li input[type="checkbox"] {
	float: left;
	margin: 4px 8px 0 0;
}

.options li input[type="text"] {
	float: left;
	margin-right: 6px;
}

.checkboxes .options { margin-top: 5px; }
.checkboxes li input[type="text"] { width: 215px; }

#custom .field_value {
	min-height: 25px;
}

.tag {
	float: left;
	font-size: 11px;
	padding: 4px 6px;
	margin-right: 3px;
	color: #333333;
	border-right: 1px solid #CCCCCC;
}

.action span {
	float: left;
	margin: 2px 3px 0 0;
}

.add_option { margin-top: 5px; }

.table {
    margin-bottom: 0px;
}

ul.table_body li.table_row{
    /*width: 682px;*/
}

.quicksand.table_body, .quicksand.table_view {
    width: 682px;
}
.cell_visible {
    min-width: 38px;
    width: 38px !important;
}

.cell_name, .cell_description, .cell_site_type {
    margin-left: -1px;
    min-width: 165px;
    width: 165px;
}

.cell_order{
    border-left-width: 0px;
    margin-left: -1px;
    min-width: 58px;
    width: 58px;
}

.li_even {
    background-color: #EFEFEF;
}
.table {
    /*margin-bottom: 0px;*/
    table-layout: auto;
    margin-left: 3px;
    width: 678px;
    /*width: 99% !important;*/
}