fieldset legend a {
	color: #809800;
	font-size: 12px;
	font-weight: normal;
}

/* Fieldset default style */
fieldset.default {
	padding-top: 10px; 
	background: none repeat scroll 0 0 #EEEEE;
    border: 1px solid #AAAAAA;
    border-radius: 4px 4px 0 0;
    box-shadow: 1px 1px 2px #FFFFFF inset;
    text-shadow: 0 1px 0 #FFFFFF;
}

fieldset.default > legend {
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    box-shadow: 3px 3px 15px #BBBBBB;
    color: #444444;
    padding: 4px 9px;
}
/* End default style */

/* Fieldset section */
fieldset.section {
	border: none;
	border-top: 1px solid #BCE2FF;
}

fieldset.section > legend {
	margin-left: -8px;
	padding-right: 10px;
	padding-bottom: 3px;
	font-size: 16px;
	font-weight: bold;
	color: #666666;
}
/* End section */

/* Fieldset section_break */
fieldset.section_break {
	border: none;
	border-top: 1px solid #CCCCCC;
	margin: 5px 10px 0px 0px;
	padding-top: 15px;
	position: relative;
}

fieldset.section_break > .profile-image {
	position: absolute;
    width: 90px;
    height: 115px;
    border: 1px solid #CCCCCC;
	right: 0;
}

fieldset.section_break > legend {
	padding: 0 8px;
	margin-left: -8px;
	font-size: 11px;
	font-weight: bold;
	color: #999999;
	
	/* bootstrap override */
	width: auto;
	margin-bottom: 0;
	border: 0;
}

fieldset.section_break > legend a {	font-size: 11px; }

fieldset.section_break > .row { margin-left: 15px; }
fieldset.section_break.area > .row { margin-left: -15px; }
fieldset.section_break > .row.icon_add_row { margin-left: 5px; }
/* End fieldset section_break */


/* section group */

fieldset.section_group .section_break {
	margin: 0 0 10px 0;
	padding-top: 10px;
}

fieldset.section_group {
	margin: 5px 0 20px 0px;
	border: 1px solid #CCCCCC;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 12px;
}

fieldset.section_group > legend {
	padding: 0 8px;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	
	/* bootstrap override */
	width: auto;
	margin-bottom: 0;
	border: 0;
}

fieldset.section_group > legend a {
	font-size: 11px;
}

fieldset.section_group .section_group_body {
	overflow: hidden;
	padding-bottom: 10px;
	margin-top: 5px;
}

/* end section group */

/* bootstrap override */
fieldset.section_group .form-control {
	font-size: 11px;
	padding: 4px 6px;
	height: 25px;
}

fieldset .table { margin-bottom: 0; }
fieldset.form .table { margin-bottom: 10px; }
