span.icon_plus 	{ float: left; width: 16px; height: 16px; background: url('../img/icons/add.png') top left no-repeat; cursor: pointer; }
a.icon_plus { 
	background: url("../img/icons/add.png") no-repeat scroll 0 0 transparent; 
	color: #007CBE; 
	font-size: 11px; 
	padding: 3px 0 5px 20px;
}

.icon_minus 	{ float: left; width: 16px; height: 16px; background: url('../img/icons/minus.png') top left no-repeat; cursor: pointer; }
.icon_delete 	{ float: left; width: 16px; height: 16px; background: url('../img/icons/delete.png') top left no-repeat; cursor: pointer; }
.icon_cross		{ float: left; width: 16px; height: 16px; background: url('../img/icons/cross.png') top left no-repeat; cursor: pointer; }
.icon_cross:hover { background-color: #FAC6C7; outline: 1px solid #E40000; }

#resetDefault.icon_delete { margin: 3px 0 0 3px; }

.icon_up { background: url('../img/icons/up.png') top left no-repeat; }
.icon_down { background: url('../img/icons/down.png') top left no-repeat; }
.icon_first { background: url('../img/icons/first.png') top left no-repeat; }
.icon_last { background: url('../img/icons/last.png') top left no-repeat; }

.icon_up, .icon_down, .icon_first, .icon_last { float: left; width: 16px; height: 16px; cursor: pointer; border: 1px solid transparent; }
.icon_up:hover,
.icon_down:hover,
.icon_first:hover,
.icon_last:hover {
	border-color: #5b8baf;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.icon_sort_up 	{ background: url('../img/icons/sort_up.png') top left no-repeat; }
.icon_sort_down { background: url('../img/icons/sort_down.png') top left no-repeat; }

.icon_sort_up,
.icon_sort_down {
	float: right; 
	border: 1px solid #BCE2FF;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.icon_sort_down:hover, .icon_sort_up:hover { background-color: #FFFFFF; }

.icon_search {
	background: url("../img/icons/search.png") no-repeat scroll center center transparent;
    border: 0 none;
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.icon_clear { float: left; background-color: #ECECEC; padding: 2px 5px 2px 6px; cursor: pointer; }

.icon_visible	{
	float: left;
	width: 16px;
	height: 16px; 
	background: url('../img/icons/visible_on.png') top left no-repeat; 
	cursor: pointer;
	border:1px solid transparent;
}
.icon_visible:hover {
	border-color: #5b8baf;
	border-radius:2px;
}
.icon_visible_off { background: url('../img/icons/visible_off.png') top left no-repeat; }

.tooltip {
	display: none;
	font-size: 11px;
	padding: 6px 10px;
	color: #000000;
	background-color: #F2EDD0;
	border: 1px solid #999999;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 0 8px #666;
	-webkit-box-shadow: 0 0 8px #666;
	box-shadow: 0 0 8px #666;
	z-index: 2000;
}

