.year { margin-bottom: 10px; }
.year .label { width: 60px; line-height: 25px; }

/* Students search */
.cell_id_no { width: 110px; }
.search .cell_id_no { width: 130px; }
.cell_name { width: 140px; }
/* End Students search */

#students .label { width: 90px; }
#students .row, #classes .row { margin-bottom: 10px; }
#student_list { margin-top: 20px; }
#studentBehaviourAdd .label {width:120px; margin-top:2px;}
#studentBehaviourEdit .label {width:120px; margin-top:2px;}
#studentBehaviourView .label {width:120px; margin-top:2px;}
#classesAttendance .myyear .label { width: 30px; line-height: 25px;}
#classesAttendanceEdit .myyear .label { width: 30px; line-height: 25px;}
#classes .label { /*width: 60px;*/ }
#classes #grade_list .icon_delete { margin-top: 4px; }
#classes .table_cell_row { margin-top: 0; margin-bottom: 5px; }
#classes .table_cell_row.last { margin-bottom: 0; }
#classes .icon_plus { margin-left: 0; }
.student_select { width: 100%; }
#teachersAdd input.default, #staffAdd input.default { width: 204px; }
#teachersAdd select.default, #staffAdd select.default { width: 212px; }
#teachersAdd .icon_search, #staffAdd .icon_search { height: 22px; width: 24px; }
#teachersAdd .section_break, #staffAdd .section_break { padding-top: 10px; }
.edit .table_cell_row .label { width: 50px; line-height: 24px; }
.view .table_cell_row .label { font-weight: bold; }
.edit .table_cell_row .left, .view .table_cell_row .left { line-height: 25px; }
#teachersAttendance .myyear .label { line-height: 25px;}
#teachersAttendanceEdit .myyear .label { line-height: 25px;}
#teachersAttendance .school_days .default { width: 82px; }
#teachersAttendanceEdit .school_days .default { width: 82px; }
#staffAttendance .myyear .label { line-height: 25px;}
#staffAttendanceEdit .myyear .label { line-height: 25px;}
#staffAttendance .school_days .default { width: 82px; }
#staffAttendanceEdit .school_days .default { width: 82px; }
.input { width: 140px !important; }


.cell_system { width: 200px; }
.cell_date { width: 110px; }
.cell_start_date { width: 140px; }
.cell_datepicker { width: 195px; }
.chrome .cell_datepicker { width: 202px; }
.safari .cell_datepicker { width: 203px; }
.cell_totals { text-align:right; width:100px; }
.cell_behaviour_date { width: 70px; text-align:left; }
.cell_behaviour_title { width: 300px; text-align:left; }
.cell_behaviour_category { width: 100px; text-align:left; }
.cell_class { width: 100px; }
.cell_gender { width: 60px; }
.cell_category { width: 180px; }
.cell_grade { width: 200px; }
.cell_phone { width: 110px; }
.cell_year { width: 70px; vertical-align: top !important; text-align: center; }
.cell_subtotal{ padding-top: 8px; }
#classes.add .table_cell select { width: 100%; }
#classes .section_break .row { margin-left: 0; }

.section_group #pagination {
	margin-top: 0;
	margin-bottom: 10px;
}

.ie8 .search_wrapper, .ie8 .icon_search { margin-top: 10px; }

#student_group_view .scroll_active .list_wrapper { height: 488px; }
#search_group .list_wrapper { height: 109px; }
#student_group .list_wrapper { height: 242px; }
.ie8 #search_group .list_wrapper { height: 111px; }
.ie8 #student_group .list_wrapper { height: 243px; }