#header {
	background-color: #6699CC;
	color: #fff;
	height: 84px;
	width: 100%;
	position: fixed;
	margin-bottom: 20px;
	box-shadow: 0 0 6px #666666;
	z-index: 9999;
}

#header .logo {
	background-color: #ffffff;
	border-radius: 12px;
	margin: 15px 0 0 5px;
	float: left;
}

#header .logo img { width: 82px; padding: 5px; }
#header h1 { margin: 0px; padding: 35px 0 0 20px; font-size: 28px; display: inline-block; color: #fff !important; }

#header .fa-lg { font-size: 18px; }

.header-side-nav {
	position: absolute;
	top: 0;
	right: 10px;
	margin-top: 5px;
}

.header-side-nav .username { margin-top: 10px; margin-right: 10px; float: left; font-style: italic; font-size: 12px !important; }
.header-side-nav a { color: #FFFFFF; outline: 0; }
.header-side-nav a:hover { text-decoration: none; }
.header-side-nav > a .fa { margin-left: 10px; }
.header-side-nav .dropdown-menu { left: auto; right: 0; }
.header-side-nav .dropdown-menu a span { margin-left: 5px; }
.header-side-nav .dropdown-toggle { padding: 6px 8px; color: #FFFFFF; }

#footer {
	position: fixed;
	bottom: 0;
	border-top: 1px solid #dbdbdb;
	color: #7f7f7f;
	font-size: 11px;
	padding: 15px;
	text-align: right;
	width: 100%;
	background-color: #FFFFFF;
	z-index: 9999;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #6699cc;
    border-color: #6699cc;
    color: #fff;
    cursor: default;
    z-index: 2;
}

.rtl #header .logo { margin-right: 5px; float: right !important; }
.rtl #header h1 { padding-right: 20px; }
.rtl #footer { text-align: left; }
.rtl .col-md-6 { float: right; }
.rtl .header-side-nav { left: 10px; right: auto; }
.rtl .header-side-nav .username { float: right; margin-left: 10px; }
.rtl .header-side-nav > a .fa { margin-left: 0; margin-right: 10px;}
.rtl .header-side-nav .dropdown-menu { left: 0; right: auto; }
.rtl .header-side-nav .dropdown-menu a span { margin-left: 0; margin-right: 5px; }
.rtl .product-list .dropdown-menu { right: auto; left: 0; }
