#header {
	background-color: #5B8BAF;
	color: #fff;
	height: 84px;
	width: 100%;
	position: fixed;
	margin-bottom: 20px;
	box-shadow: 0 0 6px #666666;
	z-index: 9999;
}

#header .logo {
	background-color: #ffffff;
	border-radius: 12px;
	margin: 15px 0 0 5px;
	float: left;
}

#header .logo img { width: 82px; padding: 5px; }
#header h1 { margin: 0px; padding: 35px 0 0 20px; font-size: 28px; display: inline-block; }

#header .fa-lg { font-size: 1.4em; }
#header .fa-home { margin: 0 7px 0 15px; }

.header-side-nav {
	position: absolute;
	top: 0;
	right: 5px;
	margin-top: 5px;
}

.header-side-nav a { color: #FFFFFF; outline: 0; }
.header-side-nav a:hover { text-decoration: none; }
.header-side-nav > a .fa { margin-left: 10px; }
.header-side-nav .dropdown-menu { left: auto; right: 0; }
.header-side-nav .dropdown-menu a span { margin-left: 5px; }
.header-side-nav .dropdown-toggle { padding: 6px 8px; }
.product-list .dropdown-menu { right: 0; left: auto; }

#footer {
	position: fixed;
	bottom: 0;
	border-top: 1px solid #dbdbdb;
	color: #7f7f7f;
	font-size: 11px;
	padding: 15px;
	text-align: right;
	width: 100%;
	background-color: #FFFFFF;
	z-index: 9999;
}

.rtl #header .logo { margin-right: 5px; float: right !important; }
.rtl #header h1 { padding-right: 20px; }
.rtl #header .fa-home { margin: 0 15px 0 7px; }
.rtl #footer { text-align: left; }
.rtl .col-md-6 { float: right; }
.rtl .header-side-nav { left: 5px; right: auto; }
.rtl .header-side-nav > a .fa { margin-left: 0; margin-right: 10px;}
.rtl .header-side-nav .dropdown-menu { left: 0; right: auto; }
.rtl .header-side-nav .dropdown-menu a span { margin-left: 0; margin-right: 5px; }
.rtl .product-list .dropdown-menu { right: auto; left: 0; }

