.body-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0; top: 0;
	background-image: url(../img/login_bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin: 0;
}

.login-box {
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 6px;
	box-shadow: 0 0 4px #000000;
	color: #FFFFFF;
	left: 50%;
	margin: 0 0 0 -250px;
	padding: 20px;
	position: absolute;
	text-align: center;
	top: 20%;
	width: 500px;
	z-index: 1000;
	overflow: hidden;
}

.login-box .title {
	border-bottom: 2px solid #666666;
	font-size: 38px;
	padding: 20px 0 8px;
	margin-bottom: 15px;
}

.login-box form {
	text-align: left;
	display: inline-block;
    margin: 0 auto;
}

.login-box form label {
	font-size: 14px;
}

.login-box form .form-control {
	font-size: 14px;
	padding: 6px 12px;
	height: 34px;
	width: 220px;
}

.login-box .btn-login { background-color: #5B8BAF; }

.rtl .login-box .alert { float: none; }
.rtl .login-box .btn-login { float: right; margin-bottom: 15px; }

/* login partners */
.partners {
	position: fixed;
	bottom: 50px;
	right: 0;
	z-index: 1;
}

.partners img {
	height: 100px;
	padding: 5px;
}
/* end partners */

@media (max-width: 768px) {
	.login-box {
		position:relative;
		width:100%;
		height:100%;
		margin: 0;
		padding-top: 100px;
		left: 0;
		top: 0;
		overflow:scroll;
	}
}

@media (max-width: 470px) {
	.login-box .title {
		font-size: 22px;
	}
	.login-box form .form-control {
		font-size: 12px;
		padding: 4px 8px;
		height: 28px;
		width: 180px;
	}
}

@media (max-width: 370px) {
	#header h1 { font-size: 22px !important; padding-top: 42px !important; }
	
}


