/* Loading mask */
.mask {	position: absolute; display: block; z-index: 9999; }

#loading-box {
	position: absolute;	
	display: block;
	background-color: #FFFFFF;
	border: 1px solid #999999;
	padding: 8px;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
	border-radius: 8px;
	z-index: 1900;
}

#loading-box .loader { float: left; background-image: url(../img/icons/loader.gif); width: 16px;  height: 16px; }
#loading-box .text { float: left; font-size: 11px; margin: 2px 0 0 8px; color: #333333; font-family: Arial, Helvetica, sans-serif; }
/* End Loading mask */