#pagination { border: 0; margin: 10px 0 0; padding: 0; overflow: hidden; }

#pagination li {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 11px;
	list-style: none;
	margin-right: 2px;
}
.ie7 #pagination li{
	float: left;
}

#pagination a{
	border: 1px solid #BCE2FF;
	margin-right: 2px;
}

#pagination .previous-off,
#pagination .next-off {
	border:solid 1px #DEDEDE;
	color:#888888;
	display:block;
	float:left;
	font-weight:bold;
	margin-right:2px;
	padding: 3px 4px;
}

#pagination .next a,
#pagination .previous a {
	font-weight:bold;
}

#pagination .current {
	color:#FFFFFF;
	font-weight:bold;
	display:block;
	float:left;
	padding:4px 6px;
	background-color:#5b8baf;
	min-height: 13px;
	min-width: 7px;
}

#pagination .ellipsis{
	padding: 10px 6px 0 6px;
	float: left;
	display: block;
	margin-right: 2px;
}

#pagination a:link,
#pagination a:visited {
	color:#007CBE;
	display:block;
	float:left;
	padding:3px 5px;
	text-decoration:none;
	min-height: 13px;
	min-width: 7px;
}

#pagination a:hover{
	border:solid 1px #007CBE;
}