.report table.table td{
    text-align: center;
}
td.inputField{
    min-width: 60px;
}
tr.th_bg{
    background-color: #EFEFEF;
    font-weight: bold;
}
td.cell_delete{
    min-width: 0 !important;
    width: 16px;
}
#enrolment td.rowTotalLeftCol{
    text-align: right;
    font-weight: bold;
}
#enrolment td.rowTotalRightCol{
    font-weight: bold;
}