.search .search-input { height: 34px; padding: 6px 12px; }
.search .btn-default { color: #666; }
.search .input-group input { font-size: 12px; }
.search > .col-md-5 { padding-left: 0; }
.search > .col-md-7 { text-align: right; }

.pagination { float: left; }
.pagination-wrapper { font-size: 11px; }
.pagination-wrapper .pagination { margin: 0; }
.pagination-wrapper .col-left { padding-left: 0; }
.pagination-wrapper .displayLimit { text-align: right; }
.pagination-wrapper .displayLimit select {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px;
    padding: 2px;
    margin: 0 5px;
}
.pagination > li > a, .pagination > li > span { padding: 4px 8px; }
.pagination-wrapper .counter { float: left; padding-top: 6px; margin-left: 10px; }
.pagination-wrapper .counter.no-paging { margin-left: 0; }

/* table sortable */
.table-sortable th > a:after {
    float: right;
    display: inline;
    content: "\f0dc";
    font-family: FontAwesome;
    font-size: 13px;
    font-weight: normal;
    color: #666;
}
.table-sortable th > a.asc:after { content: "\f0dd"; }
.table-sortable th > a.desc:after { content: "\f0de"; }
/* end table sortable */


.search_wrapper {
	float: left;
	border: 1px solid #CCCCCC;
	padding: 1px;
	overflow: hidden;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.search_wrapper input { float: left; border: 0 !important; box-shadow: none; margin-top: 2px; }

.chrome .search_wrapper { padding-bottom: 0; }
.chrome .search_wrapper .icon_clear,
.safari .search_wrapper .icon_clear { padding-top: 4px; height: 20px; }

#SearchField {
	float: left; border: 0 !important;
	box-shadow:none;
}
.chrome #SearchField{
	margin-bottom:1px;
}
.safari #SearchField{
	margin-bottom:0;
}

.search .table { margin-top: 10px; margin-bottom: 0; width: 99%; }
.search > h1 > .total { font-size: 10px; font-weight: normal; }
span.highlight{ background-color: #fcefa1; color: #666666 !important; }
.search_select { width: 270px; }
.search .submit { float: left; }
.advanced { line-height: 25px }
.ui-widget { font-size: 10px; }
.ui-menu { list-style:none; padding: 2px; margin: 0;display:block; max-height:200px; overflow:auto; }


/*Adrian Tab Custom Field Search  - Starts - */
.containerTab {width: 100%; }
ul.tabs {

    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    width: 100%;
}
ul.tabs li {

    float: left;
    margin: 0;
    padding: 0;
    height: 31px;
    line-height: 31px;
    border: 1px solid #999;
    border-left: none;
    margin-bottom: -1px;
    background: #F0F0F0;
    overflow: hidden;
    position: relative;
}
ul.tabs li a {
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 1.2em;
    padding: 0 20px;
    border: 1px solid #fff;
    outline: none;
}
ul.tabs li a:hover {
    background: #ccc;
}  
html ul.tabs li.active, html ul.tabs li.active a:hover  {
    background: #fff;
    border-bottom: 1px solid #fff;
}
.tab_container {
    /*border: 1px solid #999;*/
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
    background: #fff;
    -moz-border-radius-bottomright: 5px;
    -khtml-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -khtml-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}
.tab_content {
    padding: 10px 0px;
}
.tab_content h2 {
    font-weight: normal;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ddd;
    font-size: 1.8em;
}
.tab_content h3 a{
    color: #254588;
}
.tab_content img {
    float: left;
    margin: 0 20px 20px 0;
    border: 1px solid #ddd;
    padding: 5px;
}
    /*Adrian Tab Custom Field Search  - Ends - */    
    
#CustomFieldDiv .custom_section_break > legend{     
    margin-left: -10px;
}

#CustomFieldDiv .row {     
    padding-left: 15px;
}
.searchTableWrapper table .cell_id_no{
	width: 180px;
}
.searchTableWrapper table .first_name{
	width: 160px;
}
.searchTableWrapper table .middle_name{
	width: 160px;
}

