.category { margin-bottom: 20px; }
.table_view .cell_name { width: 506px; margin-left: -1px; }
.table_view .cell_name span { line-height: 25px; }
.table { width: 99% !important; margin-left: 3px; }
.edit .table { margin-bottom: 0; }

.school_year .table .table_body .table_cell { text-align: center; }
.school_year .table .table_body .label { text-align: left; width: 50px; }
.school_year .table .icon_delete { margin-left: 29px; }
.school_year .table .cell_datepicker { width: 265px; }
.school_year .table .datepicker_day { width: 45px; }
.school_year .table .datepicker_month { width: 80px; }
.school_year .cell_current { min-width: 50px !important; width: 50px; }
.school_year .cell_days { width: 110px; }

.banks .cell_code { width: 100px; }
.banks .cell_name { width: 466px; }
.banks .table_view .cell_code { width: 100px; margin-left: -1px; }
.banks .table_view .cell_name { width: 389px; margin-left: -1px; }

.finance_categories .table_view .cell_name { width: 492px; margin-left: -1px; }
.finance_categories .section_break .row { margin-left: 0; }