.section_group .table { width: 100%; }

.table { color: #666666; margin-bottom: 10px; }

.table.full_width { width: 99%; margin-left: 3px; }

/* <table> styles starts here */
.table thead tr, .table tfoot tr { background-color: #EFEFEF; }
.table tfoot { border-top: 2px solid #DDD; font-weight: bold;}
.table thead th { font-size: 11px; }
.table td { font-size: 11px; }
.table a { color: #007CBE; }
.table tfoot td.spacer { border-right-color: transparent; }
.action { margin-left: 5px; }
.cell-number { text-align: right; }
.cell-visible { width: 70px; text-align: center; }
.cell-order { width: 83px; }
.cell-action { width: 100px; }
.cell-hours-required { width: 200px; }
.cell-report-name { width: 200px; }
.cell-delete { width: 34px; }
.cell-mandatory { width: 90px; text-align: center; }
.cell-unique { width: 70px; text-align: center; }

td.cell_order { width: 63px; margin-left: -1px; }

.report .table td {
	vertical-align: middle;
}
.cell_icon_action{
	width: 20px;
	max-width: 20px;
}

/* InstitutionSiteStudent/index.ctp */
.table .section-info > span { float: left; }
.table th > .middot { line-height: 10px; }
.table .middot {
	font-size: 28px;
	margin: 0px 5px 0px 5px;
	line-height: 14px;
}
