.section_group .table { width: 100%; }

.table {
	display: table;
	color: #666666;
	table-layout: fixed;
	border-collapse: collapse;
	margin-bottom: 12px;
}

.table.full_width { width: 99%; margin-left: 3px; }

.table_head {
	display: table-header-group;
	background-color: #EFEFEF;
}

.table_body { display: table-row-group; }
.table_row { display: table-row; }

.table_cell {
	display: table-cell;
	font-size: 11px;
	color: #666666;
	vertical-align: top;
	border: 1px solid #CCCCCC;
	padding: 5px 8px;
}

.table_cell_row {
	overflow: hidden;
	margin: 5px 0;
}

.table_row.inactive .table_cell { color: #CCCCCC; }

.table_cell a { color: #007CBE; }

.table_foot { display: table-footer-group; }

.table_head .table_cell {
	min-width: 60px;
	white-space: nowrap; 
	text-align: center;
	font-weight: bold;
	line-height:18px;
}

.table_foot .table_cell { border: 0; }
.table_foot .cell_label { text-align: right; font-weight: bold; padding-top: 6px; }
.table_foot .cell_value { border: 1px solid #CCCCCC; background-color: #EFEFEF; }
.table .cell_number { text-align: right; }

.table.allow_hover .table_row { cursor: pointer; }

.table .table_row.highlight,
.table.allow_hover .table_row:hover {
	background-color:#5b8baf;
}

.table .table_row.highlight .table_cell,
.table.allow_hover .table_row:hover .table_cell { color: #FFFFFF; }
.table.allow_hover .table_row.not_highlight:hover { background-color: #FFFFFF; cursor: auto; }
.table.allow_hover .table_row.not_highlight.even:hover { background-color: #F7F7F7; }
.table.allow_hover .table_row.not_highlight:hover .table_cell { color: #666666; }

.table .cell_delete,
.table .cell_icon_action { min-width: 0 !important; width: 16px; }
.table .icon_delete { float: left; }

.table .cell_radio,
.table .cell_checkbox { min-width: 0 !important; width: 13px; }

.table input[type="radio"],
.table input[type="checkbox"] { margin: 0; }

.table .table_head .cell_checkbox input[type="checkbox"] { margin-top: 2px; }

.edit .table_cell { vertical-align: middle; }
.multi .table_cell { vertical-align: top; }

.cell_datetime { width: 104px; }
.cell_datepicker { width: 212px; }
.cell_number_input { width: 80px; }

/* Scrollable table body */
.table_scrollable .table_header { margin-bottom: -1px; }
.table_scrollable.scroll_active .table_header {	width: 648px !important; }
.ie8 .table_scrollable.scroll_active .table_header { width: 646px !important; }
.chrome .table_scrollable.scroll_active .table_header { width: 656px !important; }
.safari .table_scrollable.scroll_active .table_header { width: 655px !important; }
.ie8 .table_scrollable .table_header { margin-top: 10px; }

.list_wrapper { margin-bottom: 10px; }
.list_wrapper > .table { margin-bottom: 0; }
.scroll_active .list_wrapper { overflow-y: scroll; padding-right: 1px; }