openapi: 3.0.0
info:
    title: OpenEMIS Core
    description: |-
        The [OpenEMIS](https://www.openemis.org/) initiative aims to deploy a high-quality Education Management Information System (EMIS) designed to collect and report data on schools, students, teachers and staff. The system was conceived by `UNESCO` to be a royalty-free system that can be easily customized to meet the specific needs of member countries.
    termsOfService: https://www.openemis.org/terms-of-service/
    contact:
        email: support@openemis.org
    license:
        name: GNU General Public License V3.0
        url: https://www.gnu.org/licenses/gpl-3.0.en.html
    version: 4.0.0
servers:
    - url: https://demo.openemis.org/core
tags:
    - name: User Authentication
      description: APIs for User Authentication
    - name: Academic Periods
      description: APIs for Academic Periods
    - name: Education Structure Details
      description: APIs for Education Structure Details
    - name: Institutions
      description: APIs for Institutions
    - name: Institution Grades
      description: APIs for Institution Grades
    - name: Institution Classes
      description: APIs for Institution Classes
    - name: Institution Subjects
      description: APIs for Institution Subjects
    - name: Institution Shifts
      description: APIs for Institution Shifts
    - name: Institution Areas
      description: APIs for Institution Areas
    - name: Institution Summary
      description: APIs for Institution Summary
    - name: Institution Grade Summary
      description: APIs for Institution Grade Summary
    - name: Institution Room Type Summary
      description: APIs for Institution Room Type Summary
    - name: Institution Student Nationality Summary
      description: APIs for Institution Student Nationality Summary
    - name: User Details
      description: APIs for User Details
    - name: Institution Staff
      description: APIs for Institution Staff
    - name: Institution Positions
      description: APIs for Institution Positions
    - name: Locale Content Details
      description: APIs for Locale Content Details
    - name: Textbook Details
      description: APIs for Textbooks
    #POCOR-7394-S starts
    - name: Institution students
      description: APIs for Institution students Details
    - name: Meals
      description: APIs for Meals Details
    #POCOR-7394-S ends
    #POCOR-7546 starts
    - name: Assessments
      description: APIs for Assessments Details
    #POCOR-7546 ends

paths:
    /api/v4/login:
        post:
            tags:
                - User Authentication
            summary: Login
            description: Login
            operationId: User Authentication
            parameters:
                - name: username
                  in: query
                  description: The user name for login
                  required: true
                  schema:
                      type: string
                - name: password
                  in: query
                  description: The password for login in clear text
                  required: true
                  schema:
                      type: string
                - name: api_key
                  in: query
                  description: The api_key that is configured
                  required: true
                  schema:
                      type: string
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/login"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/login"
                "404":
                    description: Invalid Email or Password
                "500":
                    description: Invalid Username

    /api/v4/otp-generate:
        post:
            tags:
                - User Authentication
            summary: Generate OTP
            description: API to Generate OTP
            operationId: Generate OTP
            parameters:
                - name: email
                  in: query
                  description: The email address
                  required: true
                  schema:
                      type: string
            responses:
                "200":
                    description: Successful operation
                "404":
                    description: Invalid Email

    /api/v4/otp-verify:
        post:
            tags:
                - User Authentication
            summary: Verify OTP
            description: API to Verify OTP
            operationId: Verify OTP
            parameters:
                - name: One Time Password
                  in: query
                  description: The One Time Password
                  required: true
                  schema:
                      type: string
            responses:
                "200":
                    description: Successful operation
                "404":
                    description: Invalid OTP

    /api/v4/academic-periods/list:
        get:
            tags:
                - Academic Periods
            summary: Get current Academic Period
            description: Multiple values can be provided with comma separated strings
            responses:
                "200":
                    description: successful operation
                "400":
                    description: Invalid status value

    /api/v4/systems/levels/cycles/programmes/grades/list:
        get:
            tags:
                - Education Structure Details
            summary: Get Current Grades
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
            responses:
                "200":
                    description: successful operation
                "400":
                    description: Invalid status value

    /api/v4/systems/levels/cycles/programmes/grades/subjects:
        get:
            tags:
                - Education Structure Details
            summary: Get All Grade Subjects
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Education-System"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Education-System"
                "400":
                    description: Invalid status value

    /api/v4/systems/{system_id}/levels/cycles/programmes/grades/subjects:
        get:
            tags:
                - Education Structure Details
            summary: Get All Grade Subjects
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
                - name: system_id
                  in: path
                  description: The level id
                  required: true
                  schema:
                      type: integer
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Education-System"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Education-System"
                "400":
                    description: Invalid status value

    /api/v4/systems/{system_id}/levels/{level_id}/cycles/programmes/grades/subjects:
        get:
            tags:
                - Education Structure Details
            summary: Get All Grade Subjects
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
                - name: system_id
                  in: path
                  description: The level id
                  required: true
                  schema:
                      type: integer
                - name: level_id
                  in: path
                  description: The level id
                  required: true
                  schema:
                      type: integer
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Education-System"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Education-System"
                "400":
                    description: Invalid status value

    /api/v4/systems/{system_id}/levels/{level_id}/cycles/{cycle_id}/programmes/{programme_id}/grades/subjects:
        get:
            tags:
                - Education Structure Details
            summary: Get All Grade Subjects
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
                - name: system_id
                  in: path
                  description: The level id
                  required: true
                  schema:
                      type: integer
                - name: level_id
                  in: path
                  description: education_level_id
                  required: true
                  schema:
                      type: integer
                - name: cycle_id
                  in: path
                  description: education_cycle_id
                  required: true
                  schema:
                      type: integer
                - name: programme_id
                  in: path
                  description: education_programme_id
                  required: true
                  schema:
                      type: integer
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Education-System"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Education-System"
                "400":
                    description: Invalid status value

    /api/v4/systems/{system_id}/levels/{level_id}/cycles/{cycle_id}/programmes/{programme_id}/grades/{grade_id}/subjects:
        get:
            tags:
                - Education Structure Details
            summary: Get All Grade Subjects
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
                - name: system_id
                  in: path
                  description: The level id
                  required: true
                  schema:
                      type: integer
                - name: level_id
                  in: path
                  description: education_level_id
                  required: true
                  schema:
                      type: integer
                - name: cycle_id
                  in: path
                  description: education_cycle_id
                  required: true
                  schema:
                      type: integer
                - name: programme_id
                  in: path
                  description: education_programme_id
                  required: true
                  schema:
                      type: integer
                - name: grade_id
                  in: path
                  description: education_grade_id
                  required: true
                  schema:
                      type: integer
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Education-System"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Education-System"
                "400":
                    description: Invalid status value

    /api/v4/systems/{system_id}/levels/{level_id}/cycles/{cycle_id}/programmes/{programme_id}/grades/{grade_id}/subjects/{subject_id}:
        get:
            tags:
                - Education Structure Details
            summary: Get All Grade Subjects
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
                - name: system_id
                  in: path
                  description: The level id
                  required: true
                  schema:
                      type: integer
                - name: level_id
                  in: path
                  description: education_level_id
                  required: true
                  schema:
                      type: integer
                - name: cycle_id
                  in: path
                  description: education_cycle_id
                  required: true
                  schema:
                      type: integer
                - name: programme_id
                  in: path
                  description: education_programme_id
                  required: true
                  schema:
                      type: integer
                - name: grade_id
                  in: path
                  description: education_grade_id
                  required: true
                  schema:
                      type: integer
                - name: subject_id
                  in: path
                  description: education_subject_id
                  required: true
                  schema:
                      type: integer
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Education-System"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Education-System"
                "400":
                    description: Invalid status value

    /api/v4/institutions:
        get:
            tags:
                - Institutions
            summary: Get All Institutions
            description: Multiple Institution Details will be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institutions"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institutions"
                "400":
                    description: Invalid status value

    /api/v4/institutions/{institutionId}:
        get:
            tags:
                - Institutions
            summary: Get Institution by Institution ID
            description: Multiple status values can be provided with comma separated strings
            operationId: institutionId
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
                - name: institutionId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institutions"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institutions"
                "400":
                    description: Invalid status value

    /api/v4/institutions/list:
        get:
            tags:
                - Institutions
            summary: Get List of Institutions
            description: Multiple Institution Details will be provided with comma separated strings
            responses:
                "200":
                    description: successful operation
                "400":
                    description: Invalid status value

    /api/v4/institutions/areas/list:
        get:
            tags:
                - Institutions
            summary: Get Areas from Institutions
            description: Multiple Details will be provided with comma separated strings
            responses:
                "200":
                    description: successful operation
                "400":
                    description: Invalid status value

    /api/v4/institutions/grades:
        get:
            tags:
                - Institution Grades
            summary: Get All Institution Grades
            description: Multiple values can be provided with comma separated strings
            operationId: getallinstitutiongrades
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Grades"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Grades"
                "400":
                    description: Invalid status value

    /api/v4/institutions/{institutionId}/grades:
        get:
            tags:
                - Institution Grades
            summary: Get All Grades for one Institution
            description: Multiple grades can be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
                - name: institutionId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Grades"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Grades"
                "400":
                    description: Invalid status value

    /api/v4/institutions/{institutionId}/grades/{gradeId}:
        get:
            tags:
                - Institution Grades
            summary: Get All Grades for one Institution
            description: Multiple grades can be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
                - name: institutionId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
                - name: gradeId
                  in: path
                  description: Add grade id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Grades"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Grades"
                "400":
                    description: Invalid status value

    /api/v4/institutions/classes:
        get:
            tags:
                - Institution Classes
            summary: Get all class for all Institution
            description: Multiple classes can be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Classes"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Classes"
                "400":
                    description: Invalid status value

    /api/v4/institutions/{institutionId}/classes:
        get:
            tags:
                - Institution Classes
            summary: Get All class for one Institution
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
                - name: institutionId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Classes"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Classes"
                "400":
                    description: Invalid status value

    /api/v4/institutions/{institutionId}/classes/{classId}:
        get:
            tags:
                - Institution Classes
            summary: Get one class for one Institution
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
                - name: institutionId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
                - name: classId
                  in: path
                  description: Add class id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Classes"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Classes"
                "400":
                    description: Invalid status value

    /api/v4/institutions/subjects:
        get:
            tags:
                - Institution Subjects
            summary: Get All Subjects for All Institution
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Subjects"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Subjects"
                "400":
                    description: Invalid status value

    /api/v4/institutions/{institutionId}/subjects:
        get:
            tags:
                - Institution Subjects
            summary: Get All subjects for one Institution
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
                - name: institutionId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Subjects"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Subjects"
                "400":
                    description: Invalid status value

    /api/v4/institutions/{institutionId}/subjects/{subjectId}:
        get:
            tags:
                - Institution Subjects
            summary: Get All Grades for one Institution
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
                - name: institutionId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
                - name: subjectId
                  in: path
                  description: Add subject id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Subjects"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Subjects"
                "400":
                    description: Invalid status value

    /api/v4/institutions/shifts:
        get:
            tags:
                - Institution Shifts
            summary: Get All Shifts for All Institution
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Shifts"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Shifts"
                "400":
                    description: Invalid status value

    /api/v4/institutions/{institutionId}/shifts:
        get:
            tags:
                - Institution Shifts
            summary: Get All Shifts for one Institution
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
                - name: institutionId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Shifts"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Shifts"
                "400":
                    description: Invalid status value

    /api/v4/institutions/{institutionId}/shifts/{shiftId}:
        get:
            tags:
                - Institution Shifts
            summary: Get One Shift for one Institution
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
                - name: institutionId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
                - name: shiftId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Shifts"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Shifts"
                "400":
                    description: Invalid status value

    /api/v4/institutions/areas:
        get:
            tags:
                - Institution Areas
            summary: Get All Areas for All Institution
            description: Multiple values can be provided with comma separated strings
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Areas"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Areas"
                "400":
                    description: Invalid status value

    /api/v4/institutions/{institutionId}/areas:
        get:
            tags:
                - Institution Areas
            summary: Get All Areas for one Institution
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: institutionId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Areas"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Areas"
                "400":
                    description: Invalid status value

    /api/v4/institutions/{institutionId}/areas/{areaId}:
        get:
            tags:
                - Institution Areas
            summary: Get one Area for one Institution
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: institutionId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
                - name: areaId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Areas"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Areas"
                "400":
                    description: Invalid status value

    /api/v4/institutions/summaries:
        get:
            tags:
                - Institution Summary
            summary: Get All Grades for one Institution
            description: Multiple grades can be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Summary"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Summary"
                "400":
                    description: Invalid status value

    /api/v4/institutions/{institutionId}/summaries:
        get:
            tags:
                - Institution Summary
            summary: Get All Grades for one Institution
            description: Multiple grades can be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
                - name: institutionId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Summary"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Summary"
                "400":
                    description: Invalid status value

    /api/v4/institutions/grades/summaries:
        get:
            tags:
                - Institution Grade Summary
            summary: Get Grades Summaries for All Institution
            description: Multiple values can be provided with comma separated strings
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Grade-Summary"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Grade-Summary"
                "400":
                    description: Invalid status value

    /api/v4/institutions/{institutionId}/grades/summaries:
        get:
            tags:
                - Institution Grade Summary
            summary: Get Grades Summary for one Institution
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
                - name: institutionId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Grade-Summary"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Grade-Summary"
                "400":
                    description: Invalid status value

    /api/v4/institutions/{institutionId}/grades/{gradeId}/summaries:
        get:
            tags:
                - Institution Grade Summary
            summary: Get Grade summary for one Institution
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
                - name: institutionId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
                - name: gradeId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Grade-Summary"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Grade-Summary"
                "400":
                    description: Invalid status value

    /api/v4/institutions/room-type-summaries:
        get:
            tags:
                - Institution Room Type Summary
            summary: Get Infrastructure summary for all Institution
            description: Multiple grades can be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Room-Type-Summaries"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Room-Type-Summaries"
                "400":
                    description: Invalid status value

    /api/v4/institutions/{institutionId}/infrastructure-summaries:
        get:
            tags:
                - Institution Room Type Summary
            summary: Get Infrastructure summary for one Institution
            description: Multiple grades can be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
                - name: institutionId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Room-Type-Summaries"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Room-Type-Summaries"
                "400":
                    description: Invalid status value

    /api/v4/institutions/student-nationality-summaries:
        get:
            tags:
                - Institution Student Nationality Summary
            summary: Get All student nationality summaries for all Institution
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Grades"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Grades"
                "400":
                    description: Invalid status value

    /api/v4/institutions/{institutionId}/student-nationality-summaries:
        get:
            tags:
                - Institution Student Nationality Summary
            summary: Get All student nationality summaries for one Institution
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
                - name: institutionId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Student-Nationality-Summary"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Student-Nationality-Summary"
                "400":
                    description: Invalid status value

    /api/v4/institutions/{institutionId}/grades/{gradeId}/student-nationality-summaries:
        get:
            tags:
                - Institution Student Nationality Summary
            summary: Get student nationality summary from one Grade for one Institution
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
                - name: institutionId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
                - name: gradeId
                  in: path
                  description: Add Grade id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Grades"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Grades"
                "400":
                    description: Invalid status value

    /api/v4/users:
        get:
            tags:
                - User Details
            summary: Get All User details
            description: Multiple values can be provided with comma separated strings
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/User-Details"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/User-Details"
                "400":
                    description: Invalid status value

    /api/v4/users/{userId}:
        get:
            tags:
                - User Details
            summary: Get User details for one user
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: userId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/User-Details"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/User-Details"
                "400":
                    description: Invalid status value

    /api/v4/users/openemis_id/{openemis_id}:
        get:
            tags:
                - User Details
            summary: Get All User details
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: openemis_id
                  in: path
                  description: Add openemis_id to filter
                  required: true
                  schema:
                      type: string
                      format: varchar
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/User-Name-List"
                "400":
                    description: Invalid status value

    /api/v4/identity-types/list:
        get:
            tags:
                - Identity Types
            summary: Get All identity types
            description: Multiple values can be provided with comma separated strings
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Identities-Type"
                "404":
                    description: Nationalities list found.

    /api/v4/nationalities/list:
        get:
            tags:
                - User Details
            summary: Get All Nationalities
            description: Multiple values can be provided with comma separated strings
            responses:
                "200":
                    description: successful operation
                "400":
                    description: Invalid status value

    /api/v4/student-custom-fields:
        get:
            tags:
                - User Details
            summary: Get All Student Custom Fields
            description: Multiple values can be provided with comma separated strings
            responses:
                "200":
                    description: successful operation
                "400":
                    description: Invalid status value

    /api/v4/users/identity-types/{identity_type_id}/{identity_number}:
        get:
            tags:
                - User Details
            summary: Get All User details
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: identity_type_id
                  in: path
                  description: Add openemis_id to filter
                  required: true
                  schema:
                      type: string
                      format: varchar
                - name: identity_number
                  in: path
                  description: Add openemis_id to filter
                  required: true
                  schema:
                      type: string
                      format: varchar
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/User-Details"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/User-Details"
                "400":
                    description: Invalid status value

    /api/v4/institutions/{institutionId}/student-admission:
        post:
            tags:
                - User Details
            summary: Student Admission to an Institution
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: institutionId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
            responses:
                "200":
                    description: successful operation
                "400":
                    description: Invalid status value


    /api/v4/institutions/{institutionId}/staff:
        get:
            tags:
                - Institution Staff
            summary: Get All staff for one Institution
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: institutionId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Staff"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Staff"
                "400":
                    description: Invalid status value

    /api/v4/institutions/{institutionId}/staff/{staffId}:
        get:
            tags:
                - Institution Staff
            summary: Get one staff for one Institution
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: institutionId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
                - name: staffId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Staff"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Staff"
                "400":
                    description: Invalid status value

    /api/v4/institutions/positions:
        get:
            tags:
                - Institution Positions
            summary: Get All positions for All Institution
            description: Multiple values can be provided with comma separated strings
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Positions"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Positions"
                "400":
                    description: Invalid status value

    /api/v4/institutions/{institutionId}/positions:
        get:
            tags:
                - Institution Positions
            summary: Get All Positions for one Institution
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: institutionId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Positions"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Positions"
                "400":
                    description: Invalid status value

    /api/v4/institutions/{institutionId}/positions/{positionId}:
        get:
            tags:
                - Institution Positions
            summary: Get one position for one Institution
            description: Multiple grades can be provided with comma separated strings
            parameters:
                - name: institutionId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
                - name: positionId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Positions"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Positions"
                "400":
                    description: Invalid status value

    /api/v4/locale-contents:
        get:
            tags:
                - Locale Content Details
            summary: Get All translations
            description: Multiple grades can be provided with comma separated strings
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Locale-Content-Details"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Locale-Content-Details"
                "400":
                    description: Invalid status value

    /api/v4/locale-contents/{localeId}:
        get:
            tags:
                - Locale Content Details
            summary: Get All Translations for one Language
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: localeId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Locale-Content-Details"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Locale-Content-Details"
                "400":
                    description: Invalid status value

    /api/v4/institutions/{institutionId}/students/{studentId}/assessment-item-results:
        get:
            tags:
                - Institutions
            summary: Get All Assessment Item Results
            description: Get All Assessment Item Results
            parameters:
                - name: institutionId
                  in: path
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
                - name: studentId
                  in: path
                  description: Add Student id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Assessment-Item-Results"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Assessment-Item-Results"
                "400":
                    description: Invalid status value

    /api/v4/institutions/subjects/staff:
        get:
            tags:
                - Institution
            summary: Get Staff's Subjects detail
            description: Get staff's subjects details on the bases of institution
            parameters:
                - name: staff_id
                  in: query
                  description: Add Staff id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
                - name: institution_id
                  in: query
                  description: Add Institution id to filter
                  required: true
                  schema:
                      type: integer
                      format: int
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Subjects-Staff"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Subjects-Staff"
                "400":
                    description: Invalid status value

    # POCOR-7391 Update OpenEMIS Core Swagger API v4 documentation (starts)

    /api/v4/areas/list:
        get:
            tags:
                - Areas List
            summary: Get List for Areas
            description: Multiple area list will be provided with comma separated strings
            responses:
                "200":
                    description: successful operation
                "400":
                    description: Invalid status value

    /api/v4/area-levels/list:
        get:
            tags:
                - Areas List
            summary: Get list for levels for all areas
            description: Multiple area list will be provided with comma separated strings
            responses:
                "200":
                    description: successful operation
                "400":
                    description: Invalid status value

    /api/v4/institution-types/list:
        get:
            tags:
                - Institutions
            summary: Get Types of Institutions
            description: Multiple Institution Types will be provided with comma separated strings
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Types-List"
                "400":
                    description: Invalid status value

    /api/v4/institutions/grades/student-nationality-summaries:
        get:
            tags:
                - Institution Student Nationality Summary
            summary: Get student nationality summaries  grades for all institution
            description: Multiple values can be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
                      type: integer
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Grades"
                        application/xml:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Institution-Grades"
                "400":
                    description: Invalid status value

    /api/v4/institutions/grades/{gradeId}/list:
        get:
            tags:
                - Institution Grades
            summary: Get list Grades for all Institution
            description: Multiple grades can be provided with comma separated strings
            parameters:
                - name: academic_period_id
                  in: query
                  description: This is to filter the results based on the academic_period_id
                  required: false
                  schema:
                      type: integer
                - name: limit
                  in: header
                  description: This is to limit the number of result
                  required: false
                  schema:
                      type: integer
                - name: order
                  in: header
                  description: This is to sort the results
                  required: false
                  schema:
                      type: string
                - name: page
                  in: header
                  description: This is to display the results based on the page number
                  required: false
                  schema:
[...]
